*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(image/bg-intro-desktop.png);
    background-position: center center;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}
.reg-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
}
h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 0.9em;
    color: white;
}
.info{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding: 25px 0;
}
 .text{
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px hsl(248, 32%, 49%);
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;

}
form {
    background-color: white;
    border-radius: 10px ;
    border-color: black;
    color: black;
    height: 450px;
    padding: 30px;
    width: 70vw;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    padding: 1em 1em;
  
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
  }
  input{
    width: 100%;
    height: 10%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }

  input:required:invalid{
    outline: none;
    border: none;
    border: 1px solid hsl(0, 100%, 74%);
    background-image: url(image/icon-error.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
  }
  
  input:invalid+span{
    display: inline;
    color: hsl(0, 100%, 74%);
    float: right;
    font-size: 10px;
  }
  
  input:valid{
    outline: none;
    border: none;
    border: 1px solid hsl(154, 59%, 51%);
  }

  span{
    display: none;
    
  }
  button{
    cursor: pointer;
    background-color: hsl(154, 59%, 51%);
    border: none;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding: 15px;
    width: 100%;

  }
  .click{
    font-size: 11px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
  }
  .terms{
    color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

@media screen and (max-width: 375px){
     body{
        background-image: url(image/bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
        background-position: center center;
        background-size: cover;
    }
    
    h2{
        font-size: 35px;
        text-align: center;
    }
    .info{
        text-align: center;
    }
    
}
@media screen and (max-width: 1080px){
    html, body{
        background-image: url(image/bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
    }
    h2{
        font-size: 35px;
        text-align: center;
    }
    .info{
        text-align: center;
    }
}